In [1]:
!pip install cassandra-driver

Requirement already satisfied: cassandra-driver in c:\users\naman jain\anaconda3\lib\site-packages (3.25.0)
Requirement already satisfied: six>=1.9 in c:\users\naman jain\anaconda3\lib\site-packages (from cassandra-driver) (1.15.0)
Requirement already satisfied: geomet<0.3,>=0.1 in c:\users\naman jain\anaconda3\lib\site-packages (from cassandra-driver) (0.2.1.post1)
Requirement already satisfied: click in c:\users\naman jain\anaconda3\lib\site-packages (from geomet<0.3,>=0.1->cassandra-driver) (8.1.3)
Requirement already satisfied: colorama in c:\users\naman jain\anaconda3\lib\site-packages (from click->geomet<0.3,>=0.1->cassandra-driver) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import cassandra
print(cassandra.__version__)

3.25.0

In [2]:
a={
  "clientId": "frLLgFGrPZndWGFzgzANEXbC",
  "secret": "nSP6zgnPm0NjUaiIv.14+,pn6d.ch.pzlelJZvsy04+EG8Mwr95NH9SMuf7J_.tbHF4k7i,NY.kHjxxGDJzNR4d9.O2sAz2,6R+gwdAoEgZC_PdGyIQt2Zjk8EtOphJa",
  "token": "AstraCS:frLLgFGrPZndWGFzgzANEXbC:05b504e12766c96fe46d0e536707f474c7f5a874403888114bb048151d097226"
}

In [58]:
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider

cloud_config= {
  'secure_connect_bundle': './secure-connect-cassandra-demo.zip'
}
auth_provider = PlainTextAuthProvider('frLLgFGrPZndWGFzgzANEXbC', 'nSP6zgnPm0NjUaiIv.14+,pn6d.ch.pzlelJZvsy04+EG8Mwr95NH9SMuf7J_.tbHF4k7i,NY.kHjxxGDJzNR4d9.O2sAz2,6R+gwdAoEgZC_PdGyIQt2Zjk8EtOphJa')
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

row = session.execute("select release_version from system.local").one()
if row:
  print(row[0]
    )
else:
  print("An error occurred.")

4.0.0.6816

In [18]:
# Command to create keyspace in Cassandra
try:
    query = "create keyspace employee_management with replication = {'class':'simpleStrategy','replication_factor':3}"
    session.execute(query)
    print('Keyspace Created Successfully')
except Exception as e:
    print("Error Occurred:",e)

Error Occurred: Error from server: code=2100 [Unauthorized] message="Missing correct permission on employee_management.: Keyspace management is currently only supported at https://astra.datastax.com/org/582660cf-aada-4093-a45f-6fe8b313068e/database/41910a94-87cc-49de-afc4-749734b0c506"

In [24]:
try:
    query = "alter keyspace employee_management with replication = {'class':'SimpleStrategy','replication_factor':2}"
    session.execute(query)
    print('Keyspace Altered Successfully')
except Exception as e:
    print("Error Occurred:",e)

Error Occurred: Error from server: code=2100 [Unauthorized] message="Missing correct permission on employee_management.: Keyspace management is currently only supported at https://astra.datastax.com/org/582660cf-aada-4093-a45f-6fe8b313068e/database/41910a94-87cc-49de-afc4-749734b0c506"

In [ ]:
try:
    query = "drop keyspace employee_management"
    session.execute(query)
    print('Keyspace Altered Successfully')
except Exception as e:
    print("Error Occurred:",e)

In [59]:
#command to use a keyspace
try:
    query = 'use cassandra_practice'
    session.execute(query)
    print("Inside the keyspace")
except Exception as e:
    print('Error occurred ', e)

Inside the keyspace

In [35]:
# create a table in keyspace cassandra_practice
try:
    query="""
            create table employees(
                emp_id int,
                emp_name varchar,
                emp_salary int,
                emp_dept varchar,
                emp_email varchar,
                emp_phone varchar,
                primary key(emp_id,emp_dept)
            )
    """
    session.execute(query)
    print('Table Created Successfully')
except Exception as e:
    print('Table is not created due to error',e)

Table Created Successfully

In [34]:
# Drop the table
try:
    query='drop table employees'
    session.execute(query)
    print('Table dropped successfully')
except Exception as e:
    print("error",e)

Table dropped successfully

In [28]:
# alter table and drop a column

try:
    query='Alter table employees drop emp_email'
    session.execute(query)
    print('Column dropped successfully')
except Exception as e:
    print("Column is not dropped due to error",e)

Column dropped successfully

In [29]:
# alter the table and add a column in cassandra table 
try:
    query='Alter table employees add emp_email varchar'
    session.execute(query)
    print('Column Added successfully')
except Exception as e:
    print("Column is not Added due to error",e)

Column Added successfully

In [39]:
# Insert data into the table
query="""
        insert into employees(emp_id,emp_name,emp_salary,emp_dept,emp_email,emp_phone) values(1,'Naman', 78000, 'DE', 'namanbrave@yahoo.in', '9810989898')
            """
try:
    session.execute(query)
    print('Data inserted successfully')
except Exception as e:
    print("error",e)

Data inserted successfully

In [40]:
# Insert data into the table
query="""
        insert into employees(emp_id,emp_name,emp_salary,emp_dept,emp_email,emp_phone) values(2,'Preeti', 88000, 'Marketing', 'preeti@yahoo.in', '9810989798')
            """
try:
    session.execute(query)
    print('Data inserted successfully')
except Exception as e:
    print("error",e)

Data inserted successfully

In [44]:
# Insert data into the table
query="""
        insert into employees(emp_id,emp_name,emp_salary,emp_dept,emp_email,emp_phone) values(3,'Keshav', 68000, 'DA', 'keshav@yahoo.in', '7810989898')
      
        
            """
try:
    session.execute(query)
    print('Data inserted successfully')
except Exception as e:
    print("error",e)

Data inserted successfully

In [60]:
query='select * from employees'
try:
    row=session.execute(query)
    for r in row:
        print(r)
    
except Exception as e:
    print("error",e)

Row(emp_id=1, emp_dept='DE', emp_email='namanbrave@yahoo.in', emp_name='Naman', emp_phone='9810989898', emp_salary=78000)
Row(emp_id=2, emp_dept='Marketing', emp_email='preeti@yahoo.in', emp_name='Preeti', emp_phone='9810989798', emp_salary=88000)
Row(emp_id=3, emp_dept='DA', emp_email='keshav@yahoo.in', emp_name='Keshav', emp_phone='7810989898', emp_salary=68000)

In [61]:
query='select emp_id,emp_name,emp_dept from employees'
try:
    row=session.execute(query)
    for r in row:
        print(r)
    
except Exception as e:
    print("error",e)

Row(emp_id=1, emp_name='Naman', emp_dept='DE')
Row(emp_id=2, emp_name='Preeti', emp_dept='Marketing')
Row(emp_id=3, emp_name='Keshav', emp_dept='DA')

In [62]:
query='select count(*) from employees'
try:
    row=session.execute(query)
    print(row.one())
except Exception as e:
    print("error",e)

Row(count=3)

In [67]:
query="""
    select * from employees where emp_name = 'Naman' Allow filtering
        """
try:
    row=session.execute(query).one()
    print(row)
except Exception as e:
    print(e)

Row(emp_id=1, emp_dept='DE', emp_email='namanbrave@yahoo.in', emp_name='Naman', emp_phone='9810989898', emp_salary=78000)

In [74]:
query="""
    select * from employees where emp_dept='DA' and emp_id =3
        """
try:
    row=session.execute(query).one()
    print(row)
except Exception as e:
    print(e)

Row(emp_id=3, emp_dept='DA', emp_email='keshav@yahoo.in', emp_name='Keshav', emp_phone='7810989898', emp_salary=68000)