In [1]:
!python -m pip install pymongo

Requirement already satisfied: pymongo in c:\users\naman jain\anaconda3\lib\site-packages (3.12.1)

In [4]:
!pip install pymongo[srv] # for cloud

Requirement already satisfied: pymongo[srv] in c:\users\naman jain\anaconda3\lib\site-packages (3.12.1)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\naman jain\anaconda3\lib\site-packages (from pymongo[srv]) (2.1.0)

In [16]:
import pymongo

In [6]:
# connection string to mongo atlas with userid and password

In [17]:
client_c = pymongo.MongoClient("mongodb+srv://mydb:1234@cluster0.2htkknx.mongodb.net/?retryWrites=true&w=majority")
db = client_c.test

ConfigurationError: The DNS operation timed out after 21.107285261154175 seconds

In [10]:
# connecting to local mongodb atlas

In [11]:
default_url = "mongodb://localhost:27017/"
db_name="Student1"

# Establishing a connection to the database
client=pymongo.MongoClient(default_url)

# creating a database
dataBase = client[db_name]

In [12]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [14]:
dataBase

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Student1')

In [18]:
client.list_database_names()

['Students', 'admin', 'config', 'local']

In [19]:
# record

In [27]:
record ={
    "studentname":"naman",
    "studentrollno":40,
    "class":"graduated"

}

In [21]:
# creating a collection

In [22]:
coll_name="studentdetails"
collection=dataBase[coll_name]

In [23]:
collection

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'Student1'), 'studentdetails')

In [24]:
collection.insert_one(record)

In [26]:
record1 ={
    "studentname":"naman",
    "studentrollno":40,
    "class":"graduated",
    "company":"MSIL"
}

In [28]:
collection.insert_one(record1)

In [29]:
record2 ={
    "studentname":"naman",
    "studentrollno":40,
    "class":"graduated",
    "learning":["Python","Sql","DBMS"]
}

collection.insert_one(record2)

In [30]:
record3 ={
    "studentname":"naman",
    "studentrollno":40,
    "class":"graduated",
    "learning":["Python","Sql","DBMS"],
    "record_dict":{"name":"Preeti","mail_id": "naman@gmail.com"}
}

collection.insert_one(record3)

In [31]:
# inserting multiple records

In [32]:
list_of_records=[
    
    {
    "studentname":"naman",
    "studentrollno":40,
    "class":"graduated",
    "learning":["Python","Sql","DBMS"],
    "record_dict":{"name":"Preeti","mail_id": "naman@gmail.com"}
},
    
    {
    "studentname":"naman",
    "studentrollno":40,
    "class":"graduated",
    "learning":["Python","Sql","DBMS"]
},
    
    {
    "studentname":"naman",
    "studentrollno":40,
    "class":"graduated",
    "company":"MSIL"
}    
]

In [33]:
collection.insert_many(list_of_records)

In [35]:
# dumping the entire json file into mongodb database

In [37]:
# Querying data using find method

In [38]:
first_record = collection.find_one()

In [39]:
print(first_record)

{'_id': ObjectId('63dc0ebfb34ed5726bb57a59'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated'}

In [44]:
all_records=collection.find()
print(all_records)

<pymongo.cursor.Cursor object at 0x0000022BB1138CD0>

In [41]:
next(all_records)

{'_id': ObjectId('63dc0ebfb34ed5726bb57a59'),
 'studentname': 'naman',
 'studentrollno': 40,
 'class': 'graduated'}

In [45]:
for i in all_records:
    print(i)

{'_id': ObjectId('63dc0ebfb34ed5726bb57a59'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated'}
{'_id': ObjectId('63dc0f37b34ed5726bb57a5a'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated', 'company': 'MSIL'}
{'_id': ObjectId('63dc0f7eb34ed5726bb57a5b'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated', 'learning': ['Python', 'Sql', 'DBMS']}
{'_id': ObjectId('63dc103bb34ed5726bb57a5c'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated', 'learning': ['Python', 'Sql', 'DBMS'], 'record_dict': {'name': 'Preeti', 'mail_id': 'naman@gmail.com'}}
{'_id': ObjectId('63dc125cb34ed5726bb57a5d'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated', 'learning': ['Python', 'Sql', 'DBMS'], 'record_dict': {'name': 'Preeti', 'mail_id': 'naman@gmail.com'}}
{'_id': ObjectId('63dc125cb34ed5726bb57a5e'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated', 'learning': ['Python', 'Sql', 'DBMS']}
{'_id': ObjectId('63dc125cb34ed5726bb57a5f'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated', 'company': 'MSIL'}

In [46]:
# filter out or query data

In [47]:
query={"company":"MSIL"}
records=collection.find(query)
for i in records:
    print(i)

{'_id': ObjectId('63dc0f37b34ed5726bb57a5a'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated', 'company': 'MSIL'}
{'_id': ObjectId('63dc125cb34ed5726bb57a5f'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated', 'company': 'MSIL'}

In [48]:
query1={"studentname":"preeti"}
records=collection.find(query1)
for i in records:
    print(i)               # no data with studentname == preeti

In [49]:
for i in collection.find({"studentrollno":{"$gt":30}}):
    print(i)

{'_id': ObjectId('63dc0ebfb34ed5726bb57a59'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated'}
{'_id': ObjectId('63dc0f37b34ed5726bb57a5a'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated', 'company': 'MSIL'}
{'_id': ObjectId('63dc0f7eb34ed5726bb57a5b'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated', 'learning': ['Python', 'Sql', 'DBMS']}
{'_id': ObjectId('63dc103bb34ed5726bb57a5c'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated', 'learning': ['Python', 'Sql', 'DBMS'], 'record_dict': {'name': 'Preeti', 'mail_id': 'naman@gmail.com'}}
{'_id': ObjectId('63dc125cb34ed5726bb57a5d'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated', 'learning': ['Python', 'Sql', 'DBMS'], 'record_dict': {'name': 'Preeti', 'mail_id': 'naman@gmail.com'}}
{'_id': ObjectId('63dc125cb34ed5726bb57a5e'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated', 'learning': ['Python', 'Sql', 'DBMS']}
{'_id': ObjectId('63dc125cb34ed5726bb57a5f'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated', 'company': 'MSIL'}

In [50]:
for i in collection.find({"studentrollno":{"$gt":40}}):
    print(i)

In [51]:
# delete the data from database

In [52]:
query_to_delete={"company":"MSIL"}
collection.delete_one(query_to_delete)

In [53]:
for i in collection.find():
    print(i)

{'_id': ObjectId('63dc0ebfb34ed5726bb57a59'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated'}
{'_id': ObjectId('63dc0f7eb34ed5726bb57a5b'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated', 'learning': ['Python', 'Sql', 'DBMS']}
{'_id': ObjectId('63dc103bb34ed5726bb57a5c'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated', 'learning': ['Python', 'Sql', 'DBMS'], 'record_dict': {'name': 'Preeti', 'mail_id': 'naman@gmail.com'}}
{'_id': ObjectId('63dc125cb34ed5726bb57a5d'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated', 'learning': ['Python', 'Sql', 'DBMS'], 'record_dict': {'name': 'Preeti', 'mail_id': 'naman@gmail.com'}}
{'_id': ObjectId('63dc125cb34ed5726bb57a5e'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated', 'learning': ['Python', 'Sql', 'DBMS']}
{'_id': ObjectId('63dc125cb34ed5726bb57a5f'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated', 'company': 'MSIL'}

In [54]:
collection.delete_many(query_to_delete)

In [55]:
for i in collection.find():
    print(i)

{'_id': ObjectId('63dc0ebfb34ed5726bb57a59'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated'}
{'_id': ObjectId('63dc0f7eb34ed5726bb57a5b'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated', 'learning': ['Python', 'Sql', 'DBMS']}
{'_id': ObjectId('63dc103bb34ed5726bb57a5c'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated', 'learning': ['Python', 'Sql', 'DBMS'], 'record_dict': {'name': 'Preeti', 'mail_id': 'naman@gmail.com'}}
{'_id': ObjectId('63dc125cb34ed5726bb57a5d'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated', 'learning': ['Python', 'Sql', 'DBMS'], 'record_dict': {'name': 'Preeti', 'mail_id': 'naman@gmail.com'}}
{'_id': ObjectId('63dc125cb34ed5726bb57a5e'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated', 'learning': ['Python', 'Sql', 'DBMS']}

In [56]:
# update

In [59]:
records_ = collection.find({},{"learning","class"})
for i in records_:
    print(i)

{'_id': ObjectId('63dc0ebfb34ed5726bb57a59'), 'class': 'graduated'}
{'_id': ObjectId('63dc0f7eb34ed5726bb57a5b'), 'class': 'graduated', 'learning': ['Python', 'Sql', 'DBMS']}
{'_id': ObjectId('63dc103bb34ed5726bb57a5c'), 'class': 'graduated', 'learning': ['Python', 'Sql', 'DBMS']}
{'_id': ObjectId('63dc125cb34ed5726bb57a5d'), 'class': 'graduated', 'learning': ['Python', 'Sql', 'DBMS']}
{'_id': ObjectId('63dc125cb34ed5726bb57a5e'), 'class': 'graduated', 'learning': ['Python', 'Sql', 'DBMS']}

In [60]:
records_ = collection.find()
for i in records_:
    print(i)

{'_id': ObjectId('63dc0ebfb34ed5726bb57a59'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated'}
{'_id': ObjectId('63dc0f7eb34ed5726bb57a5b'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated', 'learning': ['Python', 'Sql', 'DBMS']}
{'_id': ObjectId('63dc103bb34ed5726bb57a5c'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated', 'learning': ['Python', 'Sql', 'DBMS'], 'record_dict': {'name': 'Preeti', 'mail_id': 'naman@gmail.com'}}
{'_id': ObjectId('63dc125cb34ed5726bb57a5d'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated', 'learning': ['Python', 'Sql', 'DBMS'], 'record_dict': {'name': 'Preeti', 'mail_id': 'naman@gmail.com'}}
{'_id': ObjectId('63dc125cb34ed5726bb57a5e'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated', 'learning': ['Python', 'Sql', 'DBMS']}

In [61]:
present_data = {"studentname":"naman"}
new_data={"$set":{"studentname":"Naman Jain"}}

In [62]:
collection.update_one(present_data,new_data)

for i in collection.find():
    print(i)

{'_id': ObjectId('63dc0ebfb34ed5726bb57a59'), 'studentname': 'Naman Jain', 'studentrollno': 40, 'class': 'graduated'}
{'_id': ObjectId('63dc0f7eb34ed5726bb57a5b'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated', 'learning': ['Python', 'Sql', 'DBMS']}
{'_id': ObjectId('63dc103bb34ed5726bb57a5c'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated', 'learning': ['Python', 'Sql', 'DBMS'], 'record_dict': {'name': 'Preeti', 'mail_id': 'naman@gmail.com'}}
{'_id': ObjectId('63dc125cb34ed5726bb57a5d'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated', 'learning': ['Python', 'Sql', 'DBMS'], 'record_dict': {'name': 'Preeti', 'mail_id': 'naman@gmail.com'}}
{'_id': ObjectId('63dc125cb34ed5726bb57a5e'), 'studentname': 'naman', 'studentrollno': 40, 'class': 'graduated', 'learning': ['Python', 'Sql', 'DBMS']}