In [1]:
# connecting to the local Mysql database

In [2]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\naman jain\anaconda3\lib\site-packages (8.0.27)Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: protobuf>=3.0.0 in c:\users\naman jain\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)

In [ ]:
# Connecting to the database

In [4]:
import mysql.connector as connection

In [ ]:

try:
    mydb = connection.connect(host="localhost",user="root",passwd="1234",use_pure=True) # return an object (which connected to the Mysql
    
    cursor = mydb.cursor() # create a cursor to execute queries at very first index        
    
    query = "show databases" # checking all the databases available in Mysql
    
    cursor.execute(query) 
    
    print(cursor.fetchall())

except Exception as e:
    mydb.close()
    
    print(str(e))

In [13]:
mydb=connection.connect(host="localhost",user="root",passwd="1234",use_pure=True)

In [14]:
cursor = mydb.cursor()

In [15]:
query = "show databases"

In [16]:
type(cursor.execute(query))

NoneType

In [17]:
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('property_sale',),
 ('sakila',),
 ('students',),
 ('sys',),
 ('world',)]

In [18]:
f=[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('property_sale',),
 ('sakila',),
 ('students',),
 ('sys',),
 ('world',)]

In [19]:
f.index(('students',))

5

In [20]:
f[5][0]

'students'

In [21]:

try:
    mydb = connection.connect(host="localhost",user="root",passwd="1234",use_pure=True) # return an object (which connected to the Mysql
    
    cursor = mydb.cursor() # create a cursor to execute queries at very first index        
    
    query = "show databases" # checking all the databases available in Mysql
    
    cursor.execute(query) 
    
    print(cursor.fetchall())

except Exception as e:
    mydb.close()
    
    print(str(e))

[('information_schema',), ('mysql',), ('performance_schema',), ('property_sale',), ('sakila',), ('students',), ('sys',), ('world',)]

In [22]:
# create database

In [23]:

try:
    mydb = connection.connect(host="localhost",user="root",passwd="1234",use_pure=True) # return an object (which connected to the Mysql
    
    cursor = mydb.cursor() # create a cursor to execute queries at very first index        
    
    query = "create database Student1" # checking all the databases available in Mysql
    
    cursor.execute(query) 
    
    print("Database created")

except Exception as e:
    mydb.close()
    
    print(str(e))

Database created

In [25]:
# Checking for the databases already available

In [26]:

try:
    mydb = connection.connect(host="localhost",user="root",passwd="1234",use_pure=True) # return an object (which connected to the Mysql
    
    cursor = mydb.cursor() # create a cursor to execute queries at very first index        
    
    query = "show databases" # checking all the databases available in Mysql
    
    cursor.execute(query) 
    
    print(cursor.fetchall())

except Exception as e:
    mydb.close()
    
    print(str(e))

[('information_schema',), ('mysql',), ('performance_schema',), ('property_sale',), ('sakila',), ('student1',), ('students',), ('sys',), ('world',)]

In [27]:
# Create a table in the data base

In [28]:

try:
    mydb = connection.connect(host="localhost",database="student1",user="root",passwd="1234",use_pure=True) # return an object (which connected to the Mysql
    
    cursor = mydb.cursor() # create a cursor to execute queries at very first index        
    
    query = "Create table studentdetails (Studentid INT(10) AUTO_INCREMENT PRIMARY KEY, Firstname VARCHAR(20), Lname VARCHAR(20), RegistrationDate DATE, Section VARCHAR(10))" # checking all the databases available in Mysql
    
    cursor.execute(query) 
    
    print("Table Created")
    mydb.close()
except Exception as e:
    mydb.close()
    
    print(str(e))

Table Created

In [30]:
# when table is already present, cant create table with the same name
try:
    mydb = connection.connect(host="localhost",database="student1",user="root",passwd="1234",use_pure=True) # return an object (which connected to the Mysql
    
    cursor = mydb.cursor() # create a cursor to execute queries at very first index        
    
    query = "Create table studentdetails (Studentid INT(10) AUTO_INCREMENT PRIMARY KEY, Firstname VARCHAR(20), Lname VARCHAR(20), RegistrationDate DATE, Section VARCHAR(10))" # checking all the databases available in Mysql
    
    cursor.execute(query) 
    
    print("Table Created")
    mydb.close()
except Exception as e:
    mydb.close()
    
    print(str(e))

1050 (42S01): Table 'studentdetails' already exists

In [29]:
# Inserting the data into the table created in the database

In [32]:

try:
    mydb = connection.connect(host="localhost",database="student1",user="root",passwd="1234",use_pure=True) # return an object (which connected to the Mysql
    
    cursor = mydb.cursor() # create a cursor to execute queries at very first index        
    
    query = "Insert into studentdetails value ('1132','Sachin','Kumar','1997-11-11','Eleventh')" 
    
    cursor.execute(query) 
    mydb.commit()
    print("Data Inserted into the table")
    mydb.close()
except Exception as e:
    mydb.close()
    
    print(str(e))

Data Inserted into the table