In [1]:
# Classes and objects

In [2]:
#Object Oriented Programming

In [3]:
# OOPs---> Classes and Object

In [4]:
#class is the blueprint and objects are the instances of that class

In [5]:
# Class includes the characteristic and functions

In [7]:
# Example--> Car is a class which has characteristic like color, model, enginetype, etc and functions like start, stop, speedup

In [9]:
# classes are close to real world, and object is an instance of the real world

In [10]:
# classes is the real world entity, which is intangible (classification)

In [11]:
# Objects are the real world entity, which are tangible or varibale of the classes

In [12]:
a=7 # instance/Varibale of an integer class

In [13]:
b="Hello" # instance/Varibale of an String class

In [14]:
c=1.23 # instance/Varibale of an Float class

In [15]:
# These data types are the classification

In [17]:
l=[1,2,3,4] # Object of a list class

In [18]:
class car:

SyntaxError: unexpected EOF while parsing (<ipython-input-18-02ef5be3782f>, line 2)

In [19]:
# Because havent specified anything about the class blocks

In [20]:
class car:
    pass

In [21]:
audiq7=car()

In [22]:
audiq7

In [23]:
# "__main__" is the super class

In [24]:
audiq7.mileage= 20
audiq7.year= 2021
audiq7.color= "yellow"
audiq7.model= "Q7"
audiq7.make=234

In [25]:
audiq7.make

234

In [26]:
audiq7.model

'Q7'

In [27]:
audiq7.year

2021

In [28]:
nano=car()

In [32]:
nano.year=2012
nano.mileage=10
nano.make=123
nano.model="qwd"
nano.engineno=1243431

In [33]:
nano.model

'qwd'

In [34]:
nano.year

2012

In [35]:
nano.engineno

1243431

In [38]:
print(nano.mileage,",",nano.engineno)

10 , 1243431

In [40]:
# Disadvantage is that we havent provided the body of the class
# car , so everytime we create an object we are creating different characteristics
# so for every class we have to define the characteristics of class object. This is hectic and stupenduous work will be 
# needed, we increase the reusability of code

In [41]:
class car:
    def __init__(self,year,mileage,model,make):
        self.year=year
        self.model=model
        self.mileage=mileage
        self.make=make
    # __init__ -->> initializing the variables of the class
    # self--> it refers to the class itself and it's not a keyword
    # init--> provider of the data to the class
    #

In [42]:
nano=car()

TypeError: __init__() missing 4 required positional arguments: 'year', 'mileage', 'model', and 'make'

In [43]:
nano=car(2021,23,"tata",214)

In [44]:
nano.mileage

23

In [45]:
audiq7=car(2023,40,2342,2423)

In [47]:
audiq7.mileage

40

In [48]:
baleno=car(model=12124,year=2020,make="maruti",mileage=30)

In [49]:
baleno.model

12124

In [50]:
class car:
    def __init__(year,mileage,model,make):
        self.year=year
        self.model=model
        self.mileage=mileage                # here year is behaving as the self here 
        self.make=make                      # first parameter always behave as the pointer
    # __init__ -->> initializing the variables of the class
    # self--> it refers to the class itself and it's not a keyword
    # init--> provider of the data to the class
    #

In [ ]:
nano=car(2021,124,124,1325)

In [54]:
class car:
    def __init__(a,year,mileage,model,make):
        a.year=year
        a.model=model
        a.mileage=mileage                # here a is behaving as the self here 
        a.make=make                      # first parameter always behave as the pointer
    # __init__ -->> initializing the variables of the class
    # self--> it refers to the class itself and it's not a keyword
    # init--> provider of the data to the class
    #

In [55]:
wagonr=car(123,12,1414,1412)

In [57]:
wagonr.model

1414

In [59]:
class car:
    def __init__(a,y,mi,mo,ma):
        a.year=y
        a.model=mo
        a.mileage=mi                # here a is behaving as the self here 
        a.make=ma                     # first parameter always behave as the pointer
    # __init__ -->> initializing the variables of the class
    # self--> it refers to the class itself and it's not a keyword
    # init--> provider of the data to the class
    #

In [60]:
wagonr=car(123,12,1414,1412)

In [61]:
wagonr.mi

AttributeError: 'car' object has no attribute 'mi'

In [65]:
class car:
    def __init__(a,y,mi,mo,ma):
        a.year=y
        a.model=mo
        a.mileage=mi                # here a is behaving as the self here 
        a.make=ma                     # first parameter always behave as the pointer
    # __init__ -->> initializing the variables of the class
    # self--> it refers to the class itself and it's not a keyword
    # init--> provider of the data to the class
    # 
    def age(self,current_year):
        print(current_year-a.year) # cant use a here because pointer to the class itself is self not a in age function

In [66]:
wagonr=car(2021,565,687,8768)

In [79]:
class car:
    def __init__(a,y,mi,mo,ma):
        a.year=y
        a.model=mo
        a.mileage=mi                # here a is behaving as the self here 
        a.make=ma                     # first parameter always behave as the pointer
    # __init__ -->> initializing the variables of the class
    # self--> it refers to the class itself and it's not a keyword
    # init--> provider of the data to the class
    # 
    def age(self,current_year):
        print(current_year-self.year)
    # cant use a here because pointer to the class itself is self not a in age function
    
    def mileage1(self):
            print("mileage of car",self.mileage)
            #return str(self.mileage)

In [80]:
wagonr=car(2021,565,687,8768)

In [81]:
wagonr.mileage1()

mileage of car 565

In [82]:
wagonr