In [2]:
print("Functions in Python")

Functions in Python

In [3]:
print("Will implement user based functions")

Will implement user based functions

In [6]:
a=1
b=2
a+b

3

In [7]:
a=10
b=12

In [8]:
a+b

22

In [10]:
# the above code is scripting

In [11]:
# Functions improve the reusability of code, make it easier for the user to read or execute the task easily

In [16]:
# def keyword for defining the function, it tells the interpreter that the block is function definition

In [ ]:
# During function calling some arguments are passed

In [17]:
def test(x,y):

SyntaxError: unexpected EOF while parsing (<ipython-input-17-97341e2492e9>, line 2)

In [18]:
# The above function doesnt have any block hence errr

In [19]:
def test(x,u):
    pass

In [20]:
test(3,4)

In [21]:
# The above function doesnt contain any logic, so hence no output is displayed

In [22]:
test

In [25]:
test() #function is expecting two arguments, as mentioned during the fuction definition

TypeError: test() missing 2 required positional arguments: 'x' and 'u'

In [33]:
def test(x,y): # Function Definition
    print(x+y)

In [34]:
test(23,1) # Function calling

24

In [40]:
test(34,44)+0

78

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [29]:
# We can call this function as many number of times as we want and we dont have to write the logic again and again, 
# Hence code reusability is increased

In [31]:
type(test(9,9))

18

NoneType

In [32]:
# the function is not returning any data, hence the return type is none

In [35]:
def test1(b,m):
    return(b*m)

In [39]:
test1(10,2) +9

29

In [38]:
type(test1(10,9))

int

In [41]:
t=None

In [42]:
type(t)

NoneType

In [45]:
a=test1(10,4) # storing the data into the variable that is returned by the function

In [46]:
a

40

In [47]:
b=test(10,10)

20

In [49]:
type(b) # because its not storing anything, because function is not returning anything other than writing on the console

NoneType

In [53]:
def test2(m,n,o):
    return m+n

In [56]:
test2(2,3) # function needs 3 argument but only two are passed during the fall call

TypeError: test2() missing 1 required positional argument: 'o'

In [57]:
test2(1,2,0)

3

In [72]:
def test3(n, m):
    return n*10,m/2 # Returning multiple values as tuples

In [59]:
test3(2,4)

(20, 2.0)

In [60]:
a,b = test3(10,4)

In [61]:
a

100

In [62]:
b

2.0

In [63]:
def test4(m,n,o):
    return m*10, n/4, m+n

In [64]:
test4(10,20,30)

(100, 5.0, 30)

In [65]:
type(test4(10,20,30))

tuple

In [70]:
a,b,c=test4(10,20,30)  # unpacking tuples

In [67]:
a

100

In [68]:
b

5.0

In [69]:
c

30

In [74]:
c,x=test3(2,7)

In [75]:
c

20

In [76]:
x

3.5

In [77]:
c,v,_=test4(10,20,20)

In [78]:
c

100

In [79]:
v

5.0

In [80]:
-

SyntaxError: invalid syntax (<ipython-input-80-60215a10e730>, line 1)

In [81]:
_

30

In [82]:
c,_,m=test4(10,20,20)

In [83]:
c

100

In [84]:
_

5.0

In [85]:
m

30

In [88]:
_,_,_=test4(10,20,20) # placeholder is confused here which variable to store

In [87]:
_

30

In [91]:
def test5(n,m,t):
    return t+n
    return n+n  # first return statement will be executed only

In [92]:
test5(10,20,20)

30

In [94]:
def test():
    print("This is my first function")

In [95]:
m=test()

This is my first function

In [96]:
type(test())

This is my first function

NoneType

In [97]:
m+"afn"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [98]:
def test2():
    return "ASDFGHJKL"

In [99]:
test2()

'ASDFGHJKL'

In [100]:
r=test2()

In [101]:
r

'ASDFGHJKL'

In [105]:
def test8(n):
    return n*2 # list concatenation

In [106]:
test8([1,2,3,4])

[1, 2, 3, 4, 1, 2, 3, 4]

In [107]:
test8(2)

4

In [110]:
def test9(n):
    return n,n*7   # returning a tuple

In [111]:
test9(10)

(10, 70)

In [113]:
test9([1,2,3,4]) # tuples

([1, 2, 3, 4],
 [1,
  2,
  3,
  4,
  1,
  2,
  3,
  4,
  1,
  2,
  3,
  4,
  1,
  2,
  3,
  4,
  1,
  2,
  3,
  4,
  1,
  2,
  3,
  4,
  1,
  2,
  3,
  4])

In [114]:
b=test9([1,2,3,4])

In [115]:
b

([1, 2, 3, 4],
 [1,
  2,
  3,
  4,
  1,
  2,
  3,
  4,
  1,
  2,
  3,
  4,
  1,
  2,
  3,
  4,
  1,
  2,
  3,
  4,
  1,
  2,
  3,
  4,
  1,
  2,
  3,
  4])

In [116]:
b[1]

[1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4,
 1,
 2,
 3,
 4]

In [117]:
b[0]

[1, 2, 3, 4]

In [125]:
def test10(n,m=90): # Default argument is used, will be used if the parameter dont recieve any value during function call
    return n+m

In [126]:
test10(90)

180

In [127]:
test10(20,20)

40

In [ ]:
print() # this is also a function, but it's a in-built function

In [132]:
def boolx(X=True,Y=False): 
    return X+Y

In [133]:
boolx()

1

In [134]:
boolx(False)

0

In [135]:
boolx(False,0)

0

In [139]:
def travel(bike=True, car=False) : # Default arguments
    plan_travel = bike or car
    return bike,car,plan_travel

In [141]:
travel()

(True, False, True)

In [142]:
travel(False)

(False, False, False)

In [144]:
travel(,True) #want to pass argument for the car parameter

SyntaxError: invalid syntax (<ipython-input-144-296fc36cb6e6>, line 1)

In [147]:
travel(car=True) # Parameter/Arguments Overriding

(True, True, True)

In [150]:
travel(_,True) # here the placeholder is not none

(30, True, 30)

In [151]:
_=None

In [153]:
travel(_,True)

(None, True, True)

In [158]:
def test11(*args): # Multiple arguments without creating varibale for each parameter
    return args

In [159]:
test11("Naman",1,2,1.23,[1,2,3,4])

('Naman', 1, 2, 1.23, [1, 2, 3, 4])

In [160]:
def test11(*args): # Multiple arguments without creating varibale for each parameter
    print(args[0])
    return args

In [161]:
test11("Naman",1,2,1.23,[1,2,3,4])

Naman

('Naman', 1, 2, 1.23, [1, 2, 3, 4])

In [179]:
# Multiple list are passed but dont know how many

def list_concat(*args):
    p=[]
    for i in range(len(args)):
        p=p+args[i]
    return p

In [180]:
a=list_concat([1,2,3,4],[5,6,7,8])

In [181]:
a

[1, 2, 3, 4, 5, 6, 7, 8]

In [182]:
def test14(*args):
    return [l for l in args]

In [183]:
test14([1,2,3,4],[5,6,7,8])

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [184]:
def test15(*args):
    l=[]
    for i in args:
        if isinstance(i,list):
            l=l+i
    return l

In [186]:
test15([1,2,3,4],[5,6,7,8],"12412")

[1, 2, 3, 4, 5, 6, 7, 8]

In [190]:
def test16(**kwargs): # only accept the key value argument
    return kwargs

In [191]:
test16(4,3,2) # not key value argument hence error generated

TypeError: test16() takes 0 positional arguments but 3 were given

In [189]:
test16(a=1,b=3,c=34)

{'a': 1, 'b': 3, 'c': 34}

In [193]:
test16({'a': 1, 'b': 3, 'c': 34}) # CANT PASS DICTIONARY

TypeError: test16() takes 0 positional arguments but 1 was given

In [196]:
test16(a="Naman",b="Jain",Age=23)

{'a': 'Naman', 'b': 'Jain', 'Age': 23}

In [197]:
def test17(*args):
    return args

In [198]:
test17(4,5,6,7,8,9)

(4, 5, 6, 7, 8, 9)

In [199]:
test17(2,3,4,4,"Naman")

(2, 3, 4, 4, 'Naman')

In [239]:
def func1(*args):
    l_bool=[]
    l_string=[]
    l_int=[]
    l_list=[]
    l_float=[]
    l_tuple=[]
    l_dict=[]
    l_set=[]
    l_final=[]
    for i in range(len(args)):
        print(len(args))
        if type(args[i])==int:
            l_int.append(args[i])
        elif type(args[i])==str:
            l_string.append(args[i])
        elif type(args[i])==list:
            l_list.append(args[i])
        elif type(args[i])==float:
            l_float.append(args[i])
        elif type(args[i])==dict:
            l_dict.append(args[i])
        elif type(args[i])==tuple:
            l_tuple.append(args[i])
        elif type(args[i])==bool:
            l_bool.append(args[i])
        elif type(args[i])==set:
            l_set.append(args[i])
    l=[l_bool, l_string,l_set,l_int,l_float,l_list,l_dict,l_tuple]
    """print(l)
    p=len(l)
    i=0
    while(i<p):
        if l[i]==[]:
            l.pop(i)
            continue
    
        i+=1"""
    return l

In [240]:
func1([1,2,3,4],"Naman",(1,2,3,40),"Jain",[5,6,7,8],"KINGmaker",(5,6,7,8),{"Hello":78},True,False)

10
10
10
10
10
10
10
10
10
10

[[True, False],
 ['Naman', 'Jain', 'KINGmaker'],
 [],
 [],
 [],
 [[1, 2, 3, 4], [5, 6, 7, 8]],
 [{'Hello': 78}],
 [(1, 2, 3, 40), (5, 6, 7, 8)]]

In [251]:
def func2(*args,**kwargs):
    a=[i for i in args if type(i)==list]
    b=[values for j,values in kwargs.items() if type(values)==list]
    l=a+b
    return l

In [252]:
func2("Naman",[1,2,3,4],["Naman","Jain"],One_1=[5,6,7,8],two_=["Preeti","welcome"],three_3=["TwoYears","4thMarch2021"])

[[1, 2, 3, 4],
 ['Naman', 'Jain'],
 [5, 6, 7, 8],
 ['Preeti', 'welcome'],
 ['TwoYears', '4thMarch2021']]