In [78]:
# importing pymongo library for connecting to the mongod server
import pymongo
import pandas as pd
import json

In [50]:
# connecting to the mongodb server installed locally on port number 27017
client= pymongo.MongoClient('mongodb://localhost:27017/')

In [51]:
# Creating a database
db = client.students_details

In [193]:
# creating a collection
db['students']

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'students_details'), 'students')

In [194]:
# lisiting all the collections within the database

db.list_collection_names()

['Students1']

In [53]:
# Reading the data from csv file into dataframe
df=pd.read_csv('./data.csv')

In [58]:
# top 10 rows to check the data 
df.head()

     name  gender state  phy  maths  bio
0   rohan    male    mh   60     90   68
1  aniket    male    up   52     85   72
2  ganesh    male    up   45     82   78
3   meena  female    mp   72     69   80
4   seema  female    mh   68     90   78

In [100]:
# converting the dataframe into json for insertion into the mongodb database
list_of_documents=df.to_json(orient='records')

In [195]:
# String of list of documents
list_of_documents

'[{"name":"rohan","gender":"male","state":"mh","phy":60,"maths":90,"bio":68},{"name":"aniket","gender":"male","state":"up","phy":52,"maths":85,"bio":72},{"name":"ganesh","gender":"male","state":"up","phy":45,"maths":82,"bio":78},{"name":"meena","gender":"female","state":"mp","phy":72,"maths":69,"bio":80},{"name":"seema","gender":"female","state":"mh","phy":68,"maths":90,"bio":78},{"name":"dinesh","gender":"male","state":"mp","phy":48,"maths":34,"bio":67},{"name":"yogita","gender":"female","state":"mp","phy":39,"maths":65,"bio":90},{"name":"karan","gender":"male","state":"mh","phy":82,"maths":78,"bio":55},{"name":"jayesh","gender":"male","state":"up","phy":87,"maths":88,"bio":32},{"name":"mangesh","gender":"male","state":"mp","phy":91,"maths":78,"bio":82},{"name":"geeta","gender":"female","state":"mh","phy":31,"maths":58,"bio":78},{"name":"runali","gender":"female","state":"up","phy":85,"maths":92,"bio":66},{"name":"tushar","gender":"male","state":"up","phy":32,"maths":92,"bio":77},{"name":"binod","gender":"male","state":"mh","phy":95,"maths":78,"bio":88},{"name":"sanjay","gender":"male","state":"mh","phy":63,"maths":90,"bio":80}]'

In [196]:
# converting string of dictionary into dictionary

res = json.loads(list_of_documents)
res

[{'name': 'rohan',
  'gender': 'male',
  'state': 'mh',
  'phy': 60,
  'maths': 90,
  'bio': 68},
 {'name': 'aniket',
  'gender': 'male',
  'state': 'up',
  'phy': 52,
  'maths': 85,
  'bio': 72},
 {'name': 'ganesh',
  'gender': 'male',
  'state': 'up',
  'phy': 45,
  'maths': 82,
  'bio': 78},
 {'name': 'meena',
  'gender': 'female',
  'state': 'mp',
  'phy': 72,
  'maths': 69,
  'bio': 80},
 {'name': 'seema',
  'gender': 'female',
  'state': 'mh',
  'phy': 68,
  'maths': 90,
  'bio': 78},
 {'name': 'dinesh',
  'gender': 'male',
  'state': 'mp',
  'phy': 48,
  'maths': 34,
  'bio': 67},
 {'name': 'yogita',
  'gender': 'female',
  'state': 'mp',
  'phy': 39,
  'maths': 65,
  'bio': 90},
 {'name': 'karan',
  'gender': 'male',
  'state': 'mh',
  'phy': 82,
  'maths': 78,
  'bio': 55},
 {'name': 'jayesh',
  'gender': 'male',
  'state': 'up',
  'phy': 87,
  'maths': 88,
  'bio': 32},
 {'name': 'mangesh',
  'gender': 'male',
  'state': 'mp',
  'phy': 91,
  'maths': 78,
  'bio': 82},
 {'name': 'geeta',
  'gender': 'female',
  'state': 'mh',
  'phy': 31,
  'maths': 58,
  'bio': 78},
 {'name': 'runali',
  'gender': 'female',
  'state': 'up',
  'phy': 85,
  'maths': 92,
  'bio': 66},
 {'name': 'tushar',
  'gender': 'male',
  'state': 'up',
  'phy': 32,
  'maths': 92,
  'bio': 77},
 {'name': 'binod',
  'gender': 'male',
  'state': 'mh',
  'phy': 95,
  'maths': 78,
  'bio': 88},
 {'name': 'sanjay',
  'gender': 'male',
  'state': 'mh',
  'phy': 63,
  'maths': 90,
  'bio': 80}]

In [197]:
# Inserting data into the mongodb
for i in range(0,len(res)):
    db.students.insert_one(res[i])

In [192]:
db.students.drop()

In [232]:
# Selecting all the documents from the collection
result=db.students.find()

In [233]:
# Dsiplaying all the records
for i in result:
    print(i)

{'_id': ObjectId('64787ffbafa41ebc44c402ba'), 'name': 'rohan', 'gender': 'male', 'state': 'mh', 'phy': 60, 'maths': 90, 'bio': 68}
{'_id': ObjectId('64787ffbafa41ebc44c402bb'), 'name': 'aniket', 'gender': 'male', 'state': 'up', 'phy': 52, 'maths': 85, 'bio': 72}
{'_id': ObjectId('64787ffbafa41ebc44c402bc'), 'name': 'ganesh', 'gender': 'male', 'state': 'up', 'phy': 45, 'maths': 82, 'bio': 78}
{'_id': ObjectId('64787ffbafa41ebc44c402bd'), 'name': 'meena', 'gender': 'female', 'state': 'mp', 'phy': 72, 'maths': 69, 'bio': 80}
{'_id': ObjectId('64787ffbafa41ebc44c402be'), 'name': 'seema', 'gender': 'female', 'state': 'mh', 'phy': 68, 'maths': 90, 'bio': 78}
{'_id': ObjectId('64787ffbafa41ebc44c402bf'), 'name': 'dinesh', 'gender': 'male', 'state': 'mp', 'phy': 48, 'maths': 34, 'bio': 67}
{'_id': ObjectId('64787ffbafa41ebc44c402c0'), 'name': 'yogita', 'gender': 'female', 'state': 'mp', 'phy': 39, 'maths': 65, 'bio': 90}
{'_id': ObjectId('64787ffbafa41ebc44c402c1'), 'name': 'karan', 'gender': 'male', 'state': 'mh', 'phy': 82, 'maths': 78, 'bio': 55}
{'_id': ObjectId('64787ffbafa41ebc44c402c2'), 'name': 'jayesh', 'gender': 'male', 'state': 'up', 'phy': 87, 'maths': 88, 'bio': 32}
{'_id': ObjectId('64787ffbafa41ebc44c402c3'), 'name': 'mangesh', 'gender': 'male', 'state': 'mp', 'phy': 91, 'maths': 78, 'bio': 82}
{'_id': ObjectId('64787ffbafa41ebc44c402c4'), 'name': 'geeta', 'gender': 'female', 'state': 'mh', 'phy': 31, 'maths': 58, 'bio': 78}
{'_id': ObjectId('64787ffbafa41ebc44c402c5'), 'name': 'runali', 'gender': 'female', 'state': 'up', 'phy': 85, 'maths': 92, 'bio': 66}
{'_id': ObjectId('64787ffbafa41ebc44c402c6'), 'name': 'tushar', 'gender': 'male', 'state': 'up', 'phy': 32, 'maths': 92, 'bio': 77}
{'_id': ObjectId('64787ffbafa41ebc44c402c7'), 'name': 'binod', 'gender': 'male', 'state': 'mh', 'phy': 95, 'maths': 78, 'bio': 88}
{'_id': ObjectId('64787ffbafa41ebc44c402c8'), 'name': 'sanjay', 'gender': 'male', 'state': 'mh', 'phy': 63, 'maths': 90, 'bio': 80}

In [231]:
list(db.list_collections())

[{'name': 'students',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': Binary(b'e\x1b>\x0b\xfadF \xa4l\xe8\xe4\x95Ld\x15', 4)},
  'idIndex': {'v': 2,
   'key': {'_id': 1},
   'name': '_id_',
   'ns': 'students_details.students'}},
 {'name': 'Students1',
  'type': 'collection',
  'options': {},
  'info': {'readOnly': False,
   'uuid': Binary(b'\x9e\x04\xc4\xfe\xbe\x91Nj\x97[\xa4U(b\x0b\x0c', 4)},
  'idIndex': {'v': 2,
   'key': {'_id': 1},
   'name': '_id_',
   'ns': 'students_details.Students1'}}]

In [229]:
# Searching/Filtering Documents on specific fields 
# Filtering by name

result = db.students.find_one({'name':'sanjay'})

In [230]:
result

{'_id': ObjectId('64787ffbafa41ebc44c402c8'),
 'name': 'sanjay',
 'gender': 'male',
 'state': 'mh',
 'phy': 63,
 'maths': 90,
 'bio': 80}

In [228]:
# filtering by gender
res = db.students.find_one({'gender':'male'})
res

{'_id': ObjectId('64787ffbafa41ebc44c402ba'),
 'name': 'rohan',
 'gender': 'male',
 'state': 'mh',
 'phy': 60,
 'maths': 90,
 'bio': 68}

In [226]:
#Filtering but with find
# It returns a cursor, which points to all the records and an iterator can be used to iterate over all the documents returned by the filteration
res = db.students.find({'gender':'female'})

In [227]:
list(res)

[{'_id': ObjectId('64787ffbafa41ebc44c402bd'),
  'name': 'meena',
  'gender': 'female',
  'state': 'mp',
  'phy': 72,
  'maths': 69,
  'bio': 80},
 {'_id': ObjectId('64787ffbafa41ebc44c402be'),
  'name': 'seema',
  'gender': 'female',
  'state': 'mh',
  'phy': 68,
  'maths': 90,
  'bio': 78},
 {'_id': ObjectId('64787ffbafa41ebc44c402c0'),
  'name': 'yogita',
  'gender': 'female',
  'state': 'mp',
  'phy': 39,
  'maths': 65,
  'bio': 90},
 {'_id': ObjectId('64787ffbafa41ebc44c402c4'),
  'name': 'geeta',
  'gender': 'female',
  'state': 'mh',
  'phy': 31,
  'maths': 58,
  'bio': 78},
 {'_id': ObjectId('64787ffbafa41ebc44c402c5'),
  'name': 'runali',
  'gender': 'female',
  'state': 'up',
  'phy': 85,
  'maths': 92,
  'bio': 66}]

In [224]:
# Filter on 2/more fields
res = db.students.find_one({'name':'sanjay','gender':'male'})

In [225]:
res

{'_id': ObjectId('64787ffbafa41ebc44c402c8'),
 'name': 'sanjay',
 'gender': 'male',
 'state': 'mh',
 'phy': 63,
 'maths': 90,
 'bio': 80}

In [222]:
# Filter on 2/more fields
res = db.students.find({'name':'sanjay','gender':'male'})

In [223]:
for i in res:
    print(i)

{'_id': ObjectId('64787ffbafa41ebc44c402c8'), 'name': 'sanjay', 'gender': 'male', 'state': 'mh', 'phy': 63, 'maths': 90, 'bio': 80}

In [216]:
# limiting the number of documents 
res = db.students.find({'state':'mp'}).limit(3)

In [217]:
for i in res:
    print(i)

{'_id': ObjectId('64787ffbafa41ebc44c402bd'), 'name': 'meena', 'gender': 'female', 'state': 'mp', 'phy': 72, 'maths': 69, 'bio': 80}
{'_id': ObjectId('64787ffbafa41ebc44c402bf'), 'name': 'dinesh', 'gender': 'male', 'state': 'mp', 'phy': 48, 'maths': 34, 'bio': 67}
{'_id': ObjectId('64787ffbafa41ebc44c402c0'), 'name': 'yogita', 'gender': 'female', 'state': 'mp', 'phy': 39, 'maths': 65, 'bio': 90}

In [214]:
# Projection of objectID
res=db.students.find_one({'name':'sanjay'},{'_id'})

In [215]:
res

{'_id': ObjectId('64787ffbafa41ebc44c402c8')}

In [212]:
# Projection of name and state

res = db.students.find({},{'_id':0,'name':1,'state':1})

In [213]:
for i in res:
    print(i)

{'name': 'rohan', 'state': 'mh'}
{'name': 'aniket', 'state': 'up'}
{'name': 'ganesh', 'state': 'up'}
{'name': 'meena', 'state': 'mp'}
{'name': 'seema', 'state': 'mh'}
{'name': 'dinesh', 'state': 'mp'}
{'name': 'yogita', 'state': 'mp'}
{'name': 'karan', 'state': 'mh'}
{'name': 'jayesh', 'state': 'up'}
{'name': 'mangesh', 'state': 'mp'}
{'name': 'geeta', 'state': 'mh'}
{'name': 'runali', 'state': 'up'}
{'name': 'tushar', 'state': 'up'}
{'name': 'binod', 'state': 'mh'}
{'name': 'sanjay', 'state': 'mh'}

In [210]:
# filtering on comparision 
# Greater than $gt operator
res = db.students.find({'phy':{'$gt':85}})

In [211]:
for i in res:
    print(i)

{'_id': ObjectId('64787ffbafa41ebc44c402c2'), 'name': 'jayesh', 'gender': 'male', 'state': 'up', 'phy': 87, 'maths': 88, 'bio': 32}
{'_id': ObjectId('64787ffbafa41ebc44c402c3'), 'name': 'mangesh', 'gender': 'male', 'state': 'mp', 'phy': 91, 'maths': 78, 'bio': 82}
{'_id': ObjectId('64787ffbafa41ebc44c402c7'), 'name': 'binod', 'gender': 'male', 'state': 'mh', 'phy': 95, 'maths': 78, 'bio': 88}

In [208]:
# less than $lt and projection

res = db.students.find({'maths':{'$lt':60}},{'name':1})

In [209]:
for i in res:
    print(i)

{'_id': ObjectId('64787ffbafa41ebc44c402bf'), 'name': 'dinesh'}
{'_id': ObjectId('64787ffbafa41ebc44c402c4'), 'name': 'geeta'}

In [206]:
# greater than equal to 
res = db.students.find({'bio':{'$gte':85}})

In [207]:
for i in res:
    print(i)

{'_id': ObjectId('64787ffbafa41ebc44c402c0'), 'name': 'yogita', 'gender': 'female', 'state': 'mp', 'phy': 39, 'maths': 65, 'bio': 90}
{'_id': ObjectId('64787ffbafa41ebc44c402c7'), 'name': 'binod', 'gender': 'male', 'state': 'mh', 'phy': 95, 'maths': 78, 'bio': 88}

In [204]:
# lesser than equal to $lte operator

res = db.students.find({'maths':{'$lte':39}})

In [205]:
for i in res:
    print(i)

{'_id': ObjectId('64787ffbafa41ebc44c402bf'), 'name': 'dinesh', 'gender': 'male', 'state': 'mp', 'phy': 48, 'maths': 34, 'bio': 67}

In [234]:
# equal operator $eq

res = db.students.find({'phy':{'$eq':39}})

In [235]:
for i in res:
    print(i)

{'_id': ObjectId('64787ffbafa41ebc44c402c0'), 'name': 'yogita', 'gender': 'female', 'state': 'mp', 'phy': 39, 'maths': 65, 'bio': 90}

In [246]:
# not equal to $neg
res = db.students.find({'name':{'$ne':'jayesh'}})

In [247]:
for i in res:
    print(i)

{'_id': ObjectId('64787ffbafa41ebc44c402ba'), 'name': 'rohan', 'gender': 'male', 'state': 'mh', 'phy': 60, 'maths': 90, 'bio': 68}
{'_id': ObjectId('64787ffbafa41ebc44c402bb'), 'name': 'aniket', 'gender': 'male', 'state': 'up', 'phy': 52, 'maths': 85, 'bio': 72}
{'_id': ObjectId('64787ffbafa41ebc44c402bc'), 'name': 'ganesh', 'gender': 'male', 'state': 'up', 'phy': 45, 'maths': 82, 'bio': 78}
{'_id': ObjectId('64787ffbafa41ebc44c402bd'), 'name': 'meena', 'gender': 'female', 'state': 'mp', 'phy': 72, 'maths': 69, 'bio': 80}
{'_id': ObjectId('64787ffbafa41ebc44c402be'), 'name': 'seema', 'gender': 'female', 'state': 'mh', 'phy': 68, 'maths': 90, 'bio': 78}
{'_id': ObjectId('64787ffbafa41ebc44c402bf'), 'name': 'dinesh', 'gender': 'male', 'state': 'mp', 'phy': 48, 'maths': 34, 'bio': 67}
{'_id': ObjectId('64787ffbafa41ebc44c402c0'), 'name': 'yogita', 'gender': 'female', 'state': 'mp', 'phy': 39, 'maths': 65, 'bio': 90}
{'_id': ObjectId('64787ffbafa41ebc44c402c1'), 'name': 'karan', 'gender': 'male', 'state': 'mh', 'phy': 82, 'maths': 78, 'bio': 55}
{'_id': ObjectId('64787ffbafa41ebc44c402c3'), 'name': 'mangesh', 'gender': 'male', 'state': 'mp', 'phy': 91, 'maths': 78, 'bio': 82}
{'_id': ObjectId('64787ffbafa41ebc44c402c4'), 'name': 'geeta', 'gender': 'female', 'state': 'mh', 'phy': 31, 'maths': 58, 'bio': 78}
{'_id': ObjectId('64787ffbafa41ebc44c402c5'), 'name': 'runali', 'gender': 'female', 'state': 'up', 'phy': 85, 'maths': 92, 'bio': 66}
{'_id': ObjectId('64787ffbafa41ebc44c402c6'), 'name': 'tushar', 'gender': 'male', 'state': 'up', 'phy': 32, 'maths': 92, 'bio': 77}
{'_id': ObjectId('64787ffbafa41ebc44c402c7'), 'name': 'binod', 'gender': 'male', 'state': 'mh', 'phy': 95, 'maths': 78, 'bio': 88}
{'_id': ObjectId('64787ffbafa41ebc44c402c8'), 'name': 'sanjay', 'gender': 'male', 'state': 'mh', 'phy': 63, 'maths': 90, 'bio': 80}

In [254]:
# comparision on more than 1 field

rse = db.students.find(
    {'phy':{'$lte':96}, 
    'maths':{'$gte':69}}
    
)

In [256]:
for i in rse:
    print(i)

{'_id': ObjectId('64787ffbafa41ebc44c402ba'), 'name': 'rohan', 'gender': 'male', 'state': 'mh', 'phy': 60, 'maths': 90, 'bio': 68}
{'_id': ObjectId('64787ffbafa41ebc44c402bb'), 'name': 'aniket', 'gender': 'male', 'state': 'up', 'phy': 52, 'maths': 85, 'bio': 72}
{'_id': ObjectId('64787ffbafa41ebc44c402bc'), 'name': 'ganesh', 'gender': 'male', 'state': 'up', 'phy': 45, 'maths': 82, 'bio': 78}
{'_id': ObjectId('64787ffbafa41ebc44c402bd'), 'name': 'meena', 'gender': 'female', 'state': 'mp', 'phy': 72, 'maths': 69, 'bio': 80}
{'_id': ObjectId('64787ffbafa41ebc44c402be'), 'name': 'seema', 'gender': 'female', 'state': 'mh', 'phy': 68, 'maths': 90, 'bio': 78}
{'_id': ObjectId('64787ffbafa41ebc44c402c1'), 'name': 'karan', 'gender': 'male', 'state': 'mh', 'phy': 82, 'maths': 78, 'bio': 55}
{'_id': ObjectId('64787ffbafa41ebc44c402c2'), 'name': 'jayesh', 'gender': 'male', 'state': 'up', 'phy': 87, 'maths': 88, 'bio': 32}
{'_id': ObjectId('64787ffbafa41ebc44c402c3'), 'name': 'mangesh', 'gender': 'male', 'state': 'mp', 'phy': 91, 'maths': 78, 'bio': 82}
{'_id': ObjectId('64787ffbafa41ebc44c402c5'), 'name': 'runali', 'gender': 'female', 'state': 'up', 'phy': 85, 'maths': 92, 'bio': 66}
{'_id': ObjectId('64787ffbafa41ebc44c402c6'), 'name': 'tushar', 'gender': 'male', 'state': 'up', 'phy': 32, 'maths': 92, 'bio': 77}
{'_id': ObjectId('64787ffbafa41ebc44c402c7'), 'name': 'binod', 'gender': 'male', 'state': 'mh', 'phy': 95, 'maths': 78, 'bio': 88}
{'_id': ObjectId('64787ffbafa41ebc44c402c8'), 'name': 'sanjay', 'gender': 'male', 'state': 'mh', 'phy': 63, 'maths': 90, 'bio': 80}

In [264]:
# sorting by fields of documents

res=db.students.find().sort('maths',-1)

In [265]:
for i in res:
    print(i)

{'_id': ObjectId('64787ffbafa41ebc44c402c5'), 'name': 'runali', 'gender': 'female', 'state': 'up', 'phy': 85, 'maths': 92, 'bio': 66}
{'_id': ObjectId('64787ffbafa41ebc44c402c6'), 'name': 'tushar', 'gender': 'male', 'state': 'up', 'phy': 32, 'maths': 92, 'bio': 77}
{'_id': ObjectId('64787ffbafa41ebc44c402ba'), 'name': 'rohan', 'gender': 'male', 'state': 'mh', 'phy': 60, 'maths': 90, 'bio': 68}
{'_id': ObjectId('64787ffbafa41ebc44c402be'), 'name': 'seema', 'gender': 'female', 'state': 'mh', 'phy': 68, 'maths': 90, 'bio': 78}
{'_id': ObjectId('64787ffbafa41ebc44c402c8'), 'name': 'sanjay', 'gender': 'male', 'state': 'mh', 'phy': 63, 'maths': 90, 'bio': 80}
{'_id': ObjectId('64787ffbafa41ebc44c402c2'), 'name': 'jayesh', 'gender': 'male', 'state': 'up', 'phy': 87, 'maths': 88, 'bio': 32}
{'_id': ObjectId('64787ffbafa41ebc44c402bb'), 'name': 'aniket', 'gender': 'male', 'state': 'up', 'phy': 52, 'maths': 85, 'bio': 72}
{'_id': ObjectId('64787ffbafa41ebc44c402bc'), 'name': 'ganesh', 'gender': 'male', 'state': 'up', 'phy': 45, 'maths': 82, 'bio': 78}
{'_id': ObjectId('64787ffbafa41ebc44c402c1'), 'name': 'karan', 'gender': 'male', 'state': 'mh', 'phy': 82, 'maths': 78, 'bio': 55}
{'_id': ObjectId('64787ffbafa41ebc44c402c3'), 'name': 'mangesh', 'gender': 'male', 'state': 'mp', 'phy': 91, 'maths': 78, 'bio': 82}
{'_id': ObjectId('64787ffbafa41ebc44c402c7'), 'name': 'binod', 'gender': 'male', 'state': 'mh', 'phy': 95, 'maths': 78, 'bio': 88}
{'_id': ObjectId('64787ffbafa41ebc44c402bd'), 'name': 'meena', 'gender': 'female', 'state': 'mp', 'phy': 72, 'maths': 69, 'bio': 80}
{'_id': ObjectId('64787ffbafa41ebc44c402c0'), 'name': 'yogita', 'gender': 'female', 'state': 'mp', 'phy': 39, 'maths': 65, 'bio': 90}
{'_id': ObjectId('64787ffbafa41ebc44c402c4'), 'name': 'geeta', 'gender': 'female', 'state': 'mh', 'phy': 31, 'maths': 58, 'bio': 78}
{'_id': ObjectId('64787ffbafa41ebc44c402bf'), 'name': 'dinesh', 'gender': 'male', 'state': 'mp', 'phy': 48, 'maths': 34, 'bio': 67}

In [291]:
# sorting by multiple fields

res = db.students.find({}).sort([('maths',1),('bio',-1)])

In [292]:
for i in res:
    print(i)

{'_id': ObjectId('64787ffbafa41ebc44c402bf'), 'name': 'dinesh', 'gender': 'male', 'state': 'mp', 'phy': 48, 'maths': 34, 'bio': 67}
{'_id': ObjectId('64787ffbafa41ebc44c402c4'), 'name': 'geeta', 'gender': 'female', 'state': 'mh', 'phy': 31, 'maths': 58, 'bio': 78}
{'_id': ObjectId('64787ffbafa41ebc44c402c0'), 'name': 'yogita', 'gender': 'female', 'state': 'mp', 'phy': 39, 'maths': 65, 'bio': 90}
{'_id': ObjectId('64787ffbafa41ebc44c402bd'), 'name': 'meena', 'gender': 'female', 'state': 'mp', 'phy': 72, 'maths': 69, 'bio': 80}
{'_id': ObjectId('64787ffbafa41ebc44c402c7'), 'name': 'binod', 'gender': 'male', 'state': 'mh', 'phy': 95, 'maths': 78, 'bio': 88}
{'_id': ObjectId('64787ffbafa41ebc44c402c3'), 'name': 'mangesh', 'gender': 'male', 'state': 'mp', 'phy': 91, 'maths': 78, 'bio': 82}
{'_id': ObjectId('64787ffbafa41ebc44c402c1'), 'name': 'karan', 'gender': 'male', 'state': 'mh', 'phy': 82, 'maths': 78, 'bio': 55}
{'_id': ObjectId('64787ffbafa41ebc44c402bc'), 'name': 'ganesh', 'gender': 'male', 'state': 'up', 'phy': 45, 'maths': 82, 'bio': 78}
{'_id': ObjectId('64787ffbafa41ebc44c402bb'), 'name': 'aniket', 'gender': 'male', 'state': 'up', 'phy': 52, 'maths': 85, 'bio': 72}
{'_id': ObjectId('64787ffbafa41ebc44c402c2'), 'name': 'jayesh', 'gender': 'male', 'state': 'up', 'phy': 87, 'maths': 88, 'bio': 32}
{'_id': ObjectId('64787ffbafa41ebc44c402c8'), 'name': 'sanjay', 'gender': 'male', 'state': 'mh', 'phy': 63, 'maths': 90, 'bio': 80}
{'_id': ObjectId('64787ffbafa41ebc44c402be'), 'name': 'seema', 'gender': 'female', 'state': 'mh', 'phy': 68, 'maths': 90, 'bio': 78}
{'_id': ObjectId('64787ffbafa41ebc44c402ba'), 'name': 'rohan', 'gender': 'male', 'state': 'mh', 'phy': 60, 'maths': 90, 'bio': 68}
{'_id': ObjectId('64787ffbafa41ebc44c402c6'), 'name': 'tushar', 'gender': 'male', 'state': 'up', 'phy': 32, 'maths': 92, 'bio': 77}
{'_id': ObjectId('64787ffbafa41ebc44c402c5'), 'name': 'runali', 'gender': 'female', 'state': 'up', 'phy': 85, 'maths': 92, 'bio': 66}